.body{
    background: linear-gradient(to bottom, #051027, #071a3e);
    border-bottom-left-radius: 200px;
}
.base{
    border-bottom-left-radius: 245px;
}
.about{
    background:#051027 ;
}
.sub{
    background: #fff;
}
.features{
    /*background: lightsteelblue;*/
}
.benefits{}